#################################
#	    SPAWN		#
#################################

SPAWN
name=spawn_stairs
file=cube.mesh
x=698
y=0
z=-2313
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_behind1
file=cube.mesh
x=100
y=0
z=1000
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_behind2
file=cube.mesh
x=321
y=0
z=1000
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_passage_chelou1
file=cube.mesh
x=-40
y=0
z=-5500
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_passage_chelou2
file=cube.mesh
x=327
y=0
z=-5500
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_gouffre
file=cube.mesh
x=-860
y=0
z=-3690
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_column_north
file=cube.mesh
x=-875
y=0
z=-3011
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_column_west
file=cube.mesh
x=-725
y=0
z=-2818
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_column_south
file=cube.mesh
x=-875
y=0
z=-2623
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_column_east
file=cube.mesh
x=-1008
y=0
z=-2818
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_7_right
file=cube.mesh
x=-1824
y=0
z=-2450
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_7_left
file=cube.mesh
x=-2197
y=0
z=-2450
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_storage_right
file=cube.mesh
x=217
y=0
z=-8450
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_storage_left
file=cube.mesh
x=-186
y=0
z=-8450
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_cross1
file=cube.mesh
x=280
y=0
z=-7945
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_cross2
file=cube.mesh
x=-389
y=0
z=-7563
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_cross3
file=cube.mesh
x=-389
y=0
z=-7945
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_1_1
file=cube.mesh
x=-1520
y=0
z=-7046
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_1_2
file=cube.mesh
x=-2230
y=0
z=-6496
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_3
file=cube.mesh
x=-1904
y=0
z=-5658
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_2
file=cube.mesh
x=-738
y=0
z=-6842
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_4_1
file=cube.mesh
x=-505
y=0
z=-5957
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_4_2
file=cube.mesh
x=-505
y=0
z=-5454
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_4_3
file=cube.mesh
x=-1120
y=0
z=-5454
scale_x=30
scale_y=30
scale_z=30
/SPAWN

SPAWN
name=spawn_4_4
file=cube.mesh
x=-1120
y=0
z=-5957
scale_x=30
scale_y=30
scale_z=30
/SPAWN

#################################
#	    OBJECT		#
#################################

OBJECT
name= cube
x= -500
y= 0
z= -200
pirot_y= 100
file=cube.mesh
/OBJECT

OBJECT
name=level.001.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.001.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.002.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.002.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.003.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.003.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.004.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.004.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.005.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.005.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.006.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.006.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.007.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.007.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.008.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.008.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.009.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.009.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.010.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.010.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.011.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.011.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.012.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.012.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.013.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.013.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.014.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.014.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.015.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.015.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.016.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.016.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.017.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.017.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.018.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.018.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.019.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.019.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.020.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.020.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.021.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.021.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.022.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.022.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.023.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.023.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.024.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.024.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.025.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.025.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.026.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.026.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.027.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.027.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.028.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.028.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.029.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.029.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.030.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.030.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.031.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.031.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.032.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.032.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.033.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.033.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.034.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.034.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.035.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.035.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.036.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.036.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.037.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.037.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.038.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.038.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.039.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.039.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.040.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.040.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.041.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.041.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.042.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.042.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.043.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.043.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.044.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.044.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.045.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.045.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT


OBJECT
name=level.046.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.046.mesh
collide=false
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.047.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.047.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.049.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.049.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.050.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.050.mesh
collide=false
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.051.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.051.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.057.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.057.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.058.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.058.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.059.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.059.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.060.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.060.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT


OBJECT
name=level.062.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.062.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.063.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.063.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT


OBJECT
name=level.065.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.065.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.066.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.066.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT


OBJECT
name=level.068.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.068.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.069.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.069.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT


OBJECT
name=level.071.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.071.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.072.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.072.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.073.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.073.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT


OBJECT
name=level.075.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.075.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.076.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.076.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT


OBJECT
name=level.078.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.078.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT


OBJECT
name=level.080.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.080.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.081.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.081.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.082.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.082.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT


OBJECT
name=level.085.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.085.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.086.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.086.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT


OBJECT
name=level.087.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.087.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.088.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.088.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT


OBJECT
name=level.090.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.090.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=sortie
x=200
y=0
z=-300
#rot_y=100
file=level.091.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.092.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.092.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.093.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.093.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT


OBJECT
name=level.095.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.095.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.096.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.096.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.097.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.097.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.098.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.098.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.099.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.099.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.100.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.100.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT


OBJECT
name=level.102.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.102.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.103.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.103.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.104.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.104.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.105.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.105.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.106.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.106.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.107.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.107.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.108.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.108.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.109.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.109.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT


OBJECT
name=level.120.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.120.mesh
collide=false
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.123.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.123.mesh
collide=false
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.124.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.124.mesh
collide=false
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.130.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.130.mesh
collide=false
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.131.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.131.mesh
collide=false
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.132.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.132.mesh
collide=false
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.135.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.135.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.136.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.136.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.137.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.137.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.138.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.138.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.139.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.139.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.142.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.142.mesh
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.143.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.143.mesh
collide=false
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.144.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.144.mesh
collide=false
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.145.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.145.mesh
collide=false
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.146.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.146.mesh
collide=false
scale_x=60
scale_y=60
scale_z=80
/OBJECT

OBJECT
name=level.147.mesh
x=200
y=0
z=-300
#rot_y=100
file=level.147.mesh
collide=false
scale_x=60
scale_y=60
scale_z=80
/OBJECT


#
# OBJECT
# name = ninja
# x=200
# y=0
# z=0
# file=ninja.mesh
# rot_y= 100
# /OBJECT

#################################
#	    PLANE		#
#################################

# PLANE
# name=wall1
# material=Rockwall
# x=-350
# y=50
# z=-500
# rot_z = 90
# shadows=false
# sizeX=500
# sizeY=500
# texSizeX=1
# texSizeY=1
# /PLANE

# PLANE
# name=wall2
# material=Rockwall
# x=350
# y=50
# z=-500
# rot_z = 90
# shadows=false
# sizeX=500
# sizeY=550
# texSizeX=1
# texSizeY=1
# /PLANE

# PLANE
# name=wall3
# material=Rockwall
# x=-490
# y=50
# z=0
# rot_z=- 90
# rot_x = -90
# shadows=false
# sizeX=1000
# sizeY=550
# texSizeX=5
# texSizeY=1
# /PLANE

# PLANE
# name=wall4
# material=Rockwall
# x=490
# y=50
# z=0
# rot_z=- 90
# rot_x = 90
# shadows=false
# sizeX=1000
# sizeY=550
# texSizeX=5
# texSizeY=1
# /PLANE

# PLANE
# name=wall5
# material=Rockwall
# x=0
# y=50
# z=500
# rot_z=90
# rot_y=90
# shadows=false
# sizeX=550
# sizeY=1000
# texSizeX=1
# texSizeY=5
# /PLANE

# PLANE
# name=plane2
# material=Rockwall
# x=0
# y=0
# z=-750
# shadows=false
# sizeX=500
# sizeY=500
# texSizeX=2
# texSizeY=2
# /PLANE
